.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tfukx {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__oTz5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oTz5 {
    width: 100%;
  }
}
.freeBox__d5Jf6 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__d5Jf6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__d5Jf6 > :global(.__wab_flex-container) > *,
.freeBox__d5Jf6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d5Jf6 > :global(.__wab_flex-container) > picture > img,
.freeBox__d5Jf6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img {
  opacity: 0.5;
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__x4ArJ {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__x4ArJ > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__x4ArJ > :global(.__wab_flex-container) > *,
.freeBox__x4ArJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x4ArJ > :global(.__wab_flex-container) > picture > img,
.freeBox__x4ArJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cVamX {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__iuC2M {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__iuC2M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iuC2M > :global(.__wab_flex-container) > *,
.freeBox__iuC2M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuC2M > :global(.__wab_flex-container) > picture > img,
.freeBox__iuC2M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__gEoKc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__bnARp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__eCm05 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.column__ldFz2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ldFz2 {
    width: 100%;
  }
}
.freeBox__noOmT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__noOmT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__noOmT > :global(.__wab_flex-container) > *,
.freeBox__noOmT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__noOmT > :global(.__wab_flex-container) > picture > img,
.freeBox__noOmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3So6P {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__tjhZw:global(.__wab_instance) {
  position: relative;
}
.svg__bmekx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__y26Gu {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ey3AN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__uqM1U:global(.__wab_instance) {
  position: relative;
}
.svg__jk3Xa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ho0S {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rEszk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__zcbU7:global(.__wab_instance) {
  position: relative;
}
.svg__l8EQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__d6IF {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kmYey {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__j5W91:global(.__wab_instance) {
  position: relative;
}
.svg__zbBUy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zbsCp {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tPCpA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__jf7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jf7Z {
    width: 100%;
  }
}
.freeBox__zzLgx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__zzLgx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zzLgx > :global(.__wab_flex-container) > *,
.freeBox__zzLgx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zzLgx > :global(.__wab_flex-container) > picture > img,
.freeBox__zzLgx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qd3Z0 {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__hLvf:global(.__wab_instance) {
  position: relative;
}
.svg__dFlJq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__piK7W {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__t9T92 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__urZgq:global(.__wab_instance) {
  position: relative;
}
.svg__bJqYk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__accfP {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nzTmU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___8GggR:global(.__wab_instance) {
  position: relative;
}
.svg___8SbL8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fzBi {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rg9FZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bSkLi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bSkLi {
    width: 100%;
  }
}
.freeBox___9B9Pp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___9B9Pp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9B9Pp > :global(.__wab_flex-container) > *,
.freeBox___9B9Pp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9B9Pp > :global(.__wab_flex-container) > picture > img,
.freeBox___9B9Pp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__uh4I {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2___1A5Yb:global(.__wab_instance) {
  position: relative;
}
.svg__jv5NR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__c1M2K {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__dLsco {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___6JJ3S:global(.__wab_instance) {
  position: relative;
}
.svg__s5HnE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__omP2I {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__oQtv7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__o5O2V:global(.__wab_instance) {
  position: relative;
}
.svg__a0HEm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pfYp {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rcU35 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___1EBmX:global(.__wab_instance) {
  position: relative;
}
.svg__yhL0M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uhR8I {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___45Jfz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
